<!DOCTYPE html>
<html>
<head>
	<title>CK EDITOR</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"></link>
</head>
<body>
<div class="container clearfix">
	<div class="row">
		<h1>CK Editor</h1>
        <div id="imgUpload"></div>
	</div>
</div>
</body>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugin/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/ckeditor-settings.js"></script>
</html>