<!DOCTYPE html>
<html>
<head>
	<title>CK EDITOR</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/font-awesome.min.css"></link>
</head>
<body>
<div class="container clearfix">
	<div class="row">
		<h1>CK Editor</h1>
        <div id="imgUpload"></div>
	</div>
</div>
</body>
<script type="text/javascript" src="/js/require.config.js"></script>
<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/ckeditor-settings.js"></script>
</html>